{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            Cool
        </h1>
        I do want some money
    </div>
    <div class="col-4">
        <img src="assets/img/DCLLogo1.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}